
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:burlywood;

}

#display-area{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    border: 1px solid #000;
    padding: 20px;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    overflow-y: auto;
    margin-bottom: 20px;
    background-color: lightgrey;
}
#input-area { 
    text-align: center;
    padding-left: 5px;
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
    background-color: lightgrey;
}
#scorep {
    background-color: lightgrey;
    border-radius: 10px;
    width: 80%;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

#points , #leaderboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    background-color: lightgrey;
    font-size: 24px;
}
select {
    width: 200px;
    padding: 10px;
    font-size: 12px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    transition: all 0.3s ease;
    text-align: center;
}
select option {
    text-align: center;
}

select:hover {
    border-color: #3498db;
    background-color: gray;
}

select:focus {
    border-color: #3498db;
    outline: none;
    background-color: lightgray;
    
}

button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    background-color: lightgray;
    color: BLACK;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Effet au survol du bouton */
button:hover {
    background-color: gainsboro;
    transform: translateY(-2px);
}

/* Effet lors du clic sur le bouton */
button:active {
    background-color: black;
    transform: translateY(2px);
}

/* Bouton désactivé */
button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}





