/* *{
    border: 1px solid black ;
} */
/* html { 
    overflow-y: hidden; 
}  */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    background-color: rgba(255, 166, 0, 0.705);
    background-size: 44px 77px;
    background-position: 0 0, 0 0, 22px 39px, 22px 39px, 0 0, 22px 39px;
}

div#displaywebsite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
div#game {
    border: 5px solid orangered;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div#point-sentence{
    display: inline-flex;
}

div#game-name {
    /* background-color:rgba(255, 166, 0, 0.900); */
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    text-align: center;
}

div#game-name p {
    font-size: 50px;
    text-shadow: #FFFEC8 0 -1px 0,
                 #ff3a00 1px 1px 0,
                 #c01c01 2px 2px 0,
                 #bf1b01 3px 3px 0,
                 #e90b20 4px 4px 0,
                 #850103 5px 5px 0,
                 #333 5px 5px 10px;
    color: #FFD100;
}

div#game p#points {
    /* position: relative; */
    width: 150px;
}
div#game-selector {
    display: flex;
}

div#game #display-area {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    /* border: 1px solid #000; */
    padding: 20px;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    /* overflow-y: auto; */
    margin-bottom: 20px;
    background-color: lightgrey;
}

div#game #input-area { 
    text-align: center;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 25px;
    background-color: lightgrey;
}

#points, #leaderboard {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    background-color: lightgrey;
    font-size: 24px;
}
/* #leaderboard{
    overflow-y: scroll;
    height: 300px;
    width: 400px;
    border: 1px solid black;
} */
select {
    width: 200px;
    padding: 10px;
    font-size: 12px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    transition: all 0.3s ease;
    text-align: center;
}
select option {
    text-align: center;
}

select:hover {
    border-color: #3498db;
    background-color: gray;
}

select:focus {
    border-color: #3498db;
    outline: none;
    background-color: lightgray;
    
}

button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    background-color: lightgray;
    color: BLACK;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Effet au survol du bouton */
button:hover {
    background-color: gainsboro;
    transform: translateY(-2px);
}

/* Effet lors du clic sur le bouton */
button:active {
    background-color: black;
    transform: translateY(2px);
}

/* Bouton désactivé */
button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}





button, select   {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

button:hover, select:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active ,select:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
