body {
    background-image: url("../IMG_5151.jpg");
    background-size: 1000px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#display-area {
    border: 1px solid #000;
    padding: 20px;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    overflow-y: auto;
    margin-bottom: 20px;
}
#input-area {
    padding-left: 5px;
    border-radius: 10px;
    width: 80%;
}

